h1{
    text-align: center;
    color: green;
}
h2{
    color: red;
}
#blanco{
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra del texto */
    -webkit-text-stroke: 1px black;
}